<div class="container-fluid">
<h1 style="text-align:center">Nueva Cita</h1>
<h4 style="text-align:center"><%= @patient.first_name %> <%= @patient.last_name %> | <%= link_to 'Ver Paciente', patient_path(@patient.id), class: "btn btn-sm btn-primary" %></h4>

</div>
